//$main-color : #b8ff03;
@import "z-index";
@import 'colors';
@import 'buttons';
@import 'input';


body {
  font-family: 'Archivo', sans-serif;
  font-size: 16px;
}

li {
  height:24px;
}

.label {
  text-transform: uppercase;
}


